/*@import './droid-serif/droid-serif.css';*/
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import './yanone-kaffeesatz/yanone-kaffeesatz.css'; /*@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);*/
@import './jetbrains-mono/jetbrains-mono.css';       /*@import url(https://fonts.googleapis.com/css?family=JetBrains+Mono:400,700,400italic);*/
@import './inter/inter.css';

body {
  font:           400 16px/1.5 'Inter';
  margin:         0;
  padding:        0;
  border:         0;
  vertical-align: baseline;
  background: #001b3d;
  color: #f3f3f3;
}

h1, h2, h3 {
  color: #ff9e7f;
  font-weight: 600;
}

h2, h3 {
    border-bottom: 1px solid #ff9e7f;
}

.remark-slide-content h2 {
    font-size: 2em;
}

.remark-slide-content h3 {
    font-size: 1.5em;
}

.remark-code {
    border-radius: 5px;
    border:        1px solid #ffffff10;
    white-space:   pre-wrap;       /* CSS 3 */
    white-space:   -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space:   -pre-wrap;      /* Opera 4-6 */
    white-space:   -o-pre-wrap;    /* Opera 7 */
    word-wrap:     break-word;       /* Internet Explorer 5.5+ */
}

.remark-slide-content, .remark-slide-container {
    background: #001b3d;
}

.remark-slide-scaler {
    box-shadow: none;
}
/*.remark-slide-content h1 { font-size: 3em; }
.remark-slide-content h2 { font-size: 2em; }
.remark-slide-content h3 { font-size: 1.6em; }*/
.footnote {
  position: absolute;
  bottom: 3em;
}

li p { line-height: 1.25em; }
.red { color: #fa0000; }
.green { color: #00fa00; }
.large { font-size: 2em; }
a, a > code {
  white-space: nowrap;
  color: #ff9e7f;
  text-decoration: none;
}

.remark-code, .remark-inline-code { font-family: 'JetBrains Mono'; }
.remark-inline-code {
    border-radius: 5px;
    font-size:     0.9em;
    background: #757159;
    /*border:        1px solid #938e71;
    padding:       2px 5px 2px 5px;*/
}
.remark-code-line-highlighted  { background-color: #595223; }
.remark-code-span-highlighted { background-color: #595223; }

.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ p {
  clear: both;
}
#slideshow .slide .content code {
  font-size: 0.8em;
}
#slideshow .slide .content pre code {
  font-size: 0.9em;
  padding: 15px;
}

/* Slide-specific styling */
/*#slide-inverse .footnote {
  bottom: 12px;
  left: 20px;
}*/

#slide-how .slides {
  font-size: 0.9em;
  position: absolute;
  top:  151px;
  right: 140px;
}
#slide-how .slides h3 {
  margin-top: 0.2em;
}
#slide-how .slides .first, #slide-how .slides .second {
  padding: 1px 20px;
  height: 90px;
  width: 120px;
  -moz-box-shadow: 0 0 10px #777;
  -webkit-box-shadow: 0 0 10px #777;
  box-shadow: 0 0 10px #777;
}
#slide-how .slides .first {
  background: #fff;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 1;
}
#slide-how .slides .second {
  position: relative;
  background: #fff;
  z-index: 0;
}

/* Two-column layout */
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
  .left-column h2:last-of-type, .left-column h3:last-child {
    color: #000;
  }
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

/* Comments tend to be huge - stack traces and compiler errors. This makes them more readable. */
.hljs-comment {
    font-size: .85em;
}

.hljs-tomorrow-night-blue .hljs {
    background: #070021;
}

.section {
    font-weight: bold;
    color: #ff9e7f;
}

.section::after {
    content: ":";
}

.super {
    vertical-align: super;
    font-size:      .5em;
}

p, ul {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.code-red .remark-code-span-highlighted {
    background-color: #fa0000;
}

.code-red .remark-code-line-highlighted {
    background-color: #fa0000;
    position: relative;
}

.diff-rm .remark-code-span-highlighted {
    background-color: #fa0000;
}

.diff-rm .remark-code-line-highlighted {
    background-color: #ffeef0;
    position: relative;
}

.diff-add .remark-code-span-highlighted {
    background-color: #5d916c
}

.diff-add .remark-code-line-highlighted {
    background-color: #5d916c;
    position: relative;
}

.hljs-tomorrow-night-blue .hljs-comment, .hljs-tomorrow-night-blue .hljs-quote {
    color: #83dfdc;
}

.table {
    vertical-align: bottom;
}

.smaller .remark-code {
    font-size: 0.85em;
}

.smaller pre {
    margin-top: 0;
}
